[Unit]
Description=Sync Audio
After=multi-user.target

[Service]
Type=simple
ExecStart=/apps/sync_audio/.venv/bin/python manage.py runserver 0.0.0.0:80
WorkingDirectory=/apps/sync_audio/
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
