<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sync Audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF8">
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-4">
            <h1 class="title">Загрузите аудио</h1>
            <form action="{% url 'upload' %}" method="post" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="audio" onchange="this.form.submit()">
            </form>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column">
            {% if errors %}
                <pre>{{ errors }}</pre>
            {% endif %}
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-4">
            <h1 class="title">Другие файлы</h1>
            <table class="table is-striped">
                {% for audio in audios %}
                    <tr>
                        <td>
                            <a href="{% url 'audio' audio.id audio.slug %}">{{ audio.audio.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
</body>

</html>
