{% extends 'main/base.html' %}

{% block body %}
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="card" id="dropFile">
                    <div class="card-content">
                        <div class="content">
                            <h3>Выберите аудио</h3>
                            <form action="{% url 'upload' %}" method="post" id="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input id="file" type="file" name="audio" onchange="this.form.submit()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column">
                {% if errors %}
                    <pre>{{ errors }}</pre>
                {% endif %}
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h3>Другие файлы</h3>
                            <table class="table is-striped">
                                {% for audio in audios %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'audio' audio.id audio.slug %}">{{ audio.audio.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
