{% extends 'audios/base.html' %}

{% block title %}
    {{ block.super }} - {{ audio.name }}
{% endblock %}
{% block meta_title %}
    {{ block.super }} - {{ audio.name }}
{% endblock %}
{% block meta_description %}
    {{ block.super }} - {{ audio.name }}
{% endblock %}

{% block head %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <div id="waveform" style="height: 100%"></div>
                </div>
            </div>
            <div class="columns is-centered" id="loading">
                <div class="column is-4">
                    <h1 class="title has-text-centered">Loading...</h1>
                </div>
            </div>
            <div class="columns is-centered is-gapless" id="loading">
                <div class="column is-3 content">
                    <h4 class="has-text-centered">{{ audio.name }}</h4>
                </div>
            </div>
            <div id="controls" class="is-hidden">
                <div class="columns is-centered is-gapless is-mobile has-text-centered">
                    <div class="column is-narrow">
                        <a {% if previous %}
                            href="{% url 'audios:audio' audio_id=previous.id audio_slug=previous.slug %}" {% endif %}>
                            <button class="button is-danger is-large is-inverted"
                                    {% if not previous %}disabled{% endif %}>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-backward"></i>
                                    </span>
                            </button>
                        </a>
                        <button class="button is-danger is-large is-inverted" onclick="skip(-1)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-undo-alt"></i>
                            </span>
                        </button>
                        <button class="button is-danger is-outlined is-large" onclick="play()">
                            <span class="icon is-small is-left">
                                <i id="play" class="fas fa-play"></i>
                                <i id="pause" class="is-hidden fas fa-pause"></i>
                            </span>
                        </button>
                        <button class="button is-danger is-large is-inverted" onclick="skip(1)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-redo-alt"></i>
                            </span>
                        </button>
                        <a {% if next %}
                            href="{% url 'audios:audio' audio_id=next.id audio_slug=next.slug %}" {% endif %}>
                            <button class="button is-danger is-large is-inverted" {% if not next %}disabled{% endif %}>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-forward"></i>
                                    </span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="columns is-gapless is-centered">
                    <div class="column is-narrow" style="text-align: center">
                        <button class="button is-primary is-large is-inverted" onclick="changeSpeed(-0.1)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-minus"></i>
                            </span>
                        </button>
                        <button class="button is-primary is-outlined is-large" onclick="setSpeed(1)">
                            <span class="icon is-small is-left">
                                <span id="speed">1</span>
                                <i class="fas fa-tachometer-alt"></i>
                            </span>
                        </button>
                        <button class="button is-primary is-large is-inverted" onclick="changeSpeed(0.1)">
                            <span class="icon is-small is-left">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-4" style="text-align: center">
                        <input id="volume" style="padding: 10px 0; width: 180px" step="0.001" min="0"
                               max="1" value="0.5" type="range"
                               oninput="volume(this.value)">

                    </div>
                </div>
            </div>
            <hr>
            {% include 'audios/parts/audio_list_block.html' with audios=audios %}

        </div>
    </section>

    <script>
        let conn;
        const _id = Math.round(Math.random() * 100000);

        const createConnection = function () {
            const audioId = location.pathname.replace('/', '').split('-')[0];
            const protocol = location.href === 'https' ? 'wss' : 'ws';
            conn = new WebSocket(`${protocol}://${location.host}/ws/${audioId}/`);
            conn.onmessage = function (evt) {
                const data = JSON.parse(evt.data)
                if (data.clientId === _id) {
                    return;
                }
                wavesurfer.seekTo(data.position);
                wavesurfer.setPlaybackRate(data.speed);
                document.getElementById('speed').innerText = `${data.speed}`;

                if (data.isPlaying) {
                    wavesurfer.play();
                } else {
                    wavesurfer.pause();
                }
            };
        };


        if (window.WebSocket) {
            window.onload = function () {
                if (syncCheckbox.checked) {
                    createConnection();
                }
            };

            syncCheckbox.onchange = function () {
                if (syncCheckbox.checked) {
                    createConnection();
                } else {
                    conn.close();
                }
            };
        }

        const wavesurfer = WaveSurfer.create({
            container: '#waveform',
            backend: 'MediaElement',
            normalize: true,
            waveColor: '#d1d6da',
            progressColor: '#00d1b2',
            barWidth: 2,
            barRadius: 3,
            barMinHeight: 2,
            cursorWidth: 0,
            responsive: true,
            plugins: [],
        });
        wavesurfer.load("{{ audio.audio.url }}");
        wavesurfer.on('ready', () => {
            wavesurfer.setVolume(parseFloat(document.getElementById('volume').value));
            document.getElementById('controls').classList.toggle('is-hidden');
            document.getElementById('loading').classList.toggle('is-hidden');
        })

        const play = () => {
            wavesurfer.playPause();
            sendMessage();
        };

        const skip = (value) => {
            const step = (wavesurfer.getDuration() / 10);
            wavesurfer.skip(step * Math.sign(value));
            sendMessage();
        };

        const changeSpeed = (value) => {
            value = wavesurfer.getPlaybackRate() + value;
            if (value < 0.5 || value > 1.5) {
                return;
            }
            setSpeed(value);
        };

        const setSpeed = (value) => {
            value = Number(value.toFixed(1));
            wavesurfer.setPlaybackRate(value);
            document.getElementById('speed').innerText = `${value}`;
            sendMessage();
        };

        const volume = (value) => {
            wavesurfer.setVolume(value);
        };

        const volumeInput = document.getElementById('volume');
        const addVolume = (value) => {
            value = Math.min(1, Math.max(0, wavesurfer.getVolume() + value));
            wavesurfer.setVolume(value);
            volumeInput.value = value;
        }

        const sendMessage = function () {
            setTimeout(() => {
                conn.send(JSON.stringify({
                    'clientId': _id,
                    'isPlaying': wavesurfer.isPlaying(),
                    'position': wavesurfer.getCurrentTime() / wavesurfer.getDuration(),
                    'speed': wavesurfer.getPlaybackRate(),
                }));
            }, 100);
        };

        document.getElementById('waveform').onclick = () => sendMessage();

        const blurButtons = () => {
            const buttons = document.getElementsByTagName('button');
            for (const button of buttons) {
                button.blur();
            }
        };

        window.onmouseup = blurButtons;

        window.onkeydown = (event) => {
            const action = {
                'ArrowLeft': () => {
                    skip(-1)
                },
                'ArrowRight': () => {
                    skip(1)
                },
                'ArrowUp': () => {
                    addVolume(0.1)
                },
                'ArrowDown': () => {
                    addVolume(-0.1)
                },
                ' ': () => {
                    play()
                },
            }[event.key];

            if (action && !event.metaKey) {
                action();
                event.preventDefault();
                event.stopPropagation();
            }

            blurButtons();
        };

        wavesurfer.on('play', () => {
            document.getElementById('pause').classList.remove('is-hidden');
            document.getElementById('play').classList.add('is-hidden');
        });

        wavesurfer.on('pause', () => {
            document.getElementById('play').classList.remove('is-hidden');
            document.getElementById('pause').classList.add('is-hidden');
        });
    </script>
{% endblock %}
