<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <button onclick="start()">Start</button>
</div>
<div>
    <canvas id="canvas" style="background-color: lightcyan"></canvas>
</div>
<div id="locationsDiv"></div>
<script>
    const locations = [];
    const canvas = document.getElementById('canvas');
    const div = document.getElementById('locationsDiv');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    const ctx = canvas.getContext('2d');
    let goOn = false;

    const logPosition = function (position) {
        const startTime = (new Date()).getTime();
        fetch('https://media-xyz.com/ru', {mode: 'no-cors'}).then(() => {
            const duration = (new Date()).getTime() - startTime;
            locations.push([duration, position.coords.latitude, position.coords.longitude]);
            draw();
            navigator.geolocation.getCurrentPosition(logPosition);
        });
    };

    const draw = () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        const res = locations.reduce((acc, current) => {
            return [
                Math.max(acc[0], current[0]),
                Math.max(acc[1], current[1]),
                Math.max(acc[2], current[2]),
            ]
        }, [0, 0, 0]);

        const [maxDuration, maxLat, maxLong] = res;
        ctx.beginPath();
        locations.forEach((el) => {
            const [duration, lat, long] = el;
            const normDuration = duration / maxDuration;
            const normLat = lat / maxLat;
            const normLong = long / maxLong;
            ctx.strokeStyle = `rgb(${255 / normDuration}, 0, 0)`;
            ctx.arc(canvas.width / (normLat * 2), canvas.height / (normLong * 2), 10, 0, Math.PI * 2, true);
        });
        ctx.stroke();
        div.innerHTML = locations.join('<br>');
    };

    const start = () => {
        locations.splice(0, locations.length);
        draw();
        goOn = true;
        navigator.geolocation.getCurrentPosition(logPosition, (e) => {alert(e.code)});
    };
</script>
</body>
</html>